header {
  background-color: #868686bb;
}

header h2 {
  padding: 20px;
  margin: auto;
  text-align: center;
}

form {
  margin: 20px;
  text-align: center;
}

div.list {
  background-color: #eeeeee;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  /* border-radius: 0px; */
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

li {
  list-style: none;
  /* text-align: center; */
  /* padding-right: 20px; */
}

ul {
  text-align: left;
}

input{
  text-align:center;
}

button {
  font-size: .5em;
  color: #fff;
  background-color: rgb(216, 0, 0);
  /* border-radius: 10px; */
  float: right;
  margin-right: 40px;
}



/* above here is for sure, below is untested */

/* main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

button.release {
  float: right;
  background-color: #E1332D;
}

p {
  font-size: 1.5em;
  color: black;
  font-family: Helvetica;
} */