body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #868686bb;
}

header h2 {
  padding: 20px;
  margin: auto;
  text-align: center;
}

form {
  margin: 20px;
  text-align: center;
}

div.list {
  background-color: #eeeeee;
  height: auto;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

li {
  list-style: none;
}

ul {
  text-align: left;
}

input{
  text-align: center;
}

button.li {
  font-size: .5em;
  color: #fff;
  background-color: rgb(216, 0, 0);
  border-radius: 15px;
  float: right;
  margin-right: 40px;
}